---
import { Badge } from "@/components/ui/badge";
import { formatDate } from "@/utils/date";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { slug } = post;
const { title, description, pubDate, cover, category } = post.data;
---

<article class="group space-y-4">
  <a
    href={`/blog/${slug}/`}
    class="flex h-52 group-hover:-translate-y-2 group-hover:shadow-xl transition duration-300"
  >
    <Image
      loading="eager"
      class="w-full h-full object-cover rounded-xl overflow-hidden"
      width={720}
      height={360}
      src={cover}
      alt={`Cover image for ${title}`}
      transition:name={`img-${slug}`}
    />
  </a>

  <div class="flex items-center justify-between">
    <a
      href={`/blog/category/${category}`}
      transition:name={`badge-cat-${slug}`}
    >
      <Badge radius="md" className="capitalize">
        {category}
      </Badge>
    </a>
    <span
      class="font-medium text-muted-foreground"
      transition:name={`date-${slug}`}
    >
      {formatDate(pubDate)}
    </span>
  </div>

  <div>
    <a href={`/blog/${slug}/`} class="group-hover:underline">
      <h2
        class="font-heading text-xl md:text-2xl leading-snug line-clamp-3"
        transition:name={`title-${slug}`}
      >
        {title}
      </h2>
    </a>
    <p class="text-muted-foreground line-clamp-2">{description}</p>
  </div>
</article>